<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<main>
   <div class="col"><%- include ('../partials/message') %></div>
   <div class="container">
       <h4 class="display-4">Profile Settings</h4>




<!-- Change Username Form -->
<form action="/profile/settings/username" method="POST">
   <div class="form-group">
   <h1>Change Username</h1>
     <label>New Username</label>
     <input type="text" class="form-control" name="newUsername" placeholder="<%= curr_user %>" required>
   </div>
   <div class="form-group" style="margin-top: 20px;">
     <button type="submit" class="btn btn-primary">Change Username</button>
   </div>
 </form>
  <!--Space-->
 <div style="margin-bottom: 40px;"></div>


<!-- Change Password Form -->
<form action="/profile/settings/password" method="POST" onsubmit="return validatePassword()" id="pwdChangeForm">
   <div class="form-group">
       <h1>Change Password</h1>
       <label>New Password</label>
       <input type="password" class="form-control" name="newPassword" id="new_password" required>
   </div>
   <div class="form-group">
       <label>Confirm Password</label>
       <input type="password" class="form-control" name="confirmPassword" id="confirm_password" required>
       <p id="pwdMessage" hidden style="color:red;">Passwords do not match!</p>
   </div>
   <!-- Add space between form and submit button -->
   <div style="margin-bottom: 20px;"></div>
   <div class="form-group">
       <button type="submit" class="btn btn-primary">Change Password</button>
   </div>
</form>
   <!--Space-->
   <div style="margin-bottom: 80px;"></div>




<!-- Delete Account Form at the bottom of the page -->
<h3>Delete Account?</h3>
<form id="deleteAccountFormBottom" onsubmit="return confirmDelete();">
   <button type="submit" class="delete-button" style="color: red; background: none; border: none;">Please click here if you wish to delete your BudgetBeam account</button>
</form>


<script>

    function validatePassword() {
        const newPass = document.getElementById('new_password').value.trim();
        const confirmPass = document.getElementById('confirm_password').value.trim();

        if (newPass !== confirmPass) {
            document.getElementById('pwdMessage').removeAttribute('hidden');
            return false;
        }
        else {
            document.getElementById('pwdChangeForm').submit();
            return true;
        }
}

   function confirmDelete() {
       // Ask for confirmation
       const userConfirmed = window.confirm('Are you sure you want to delete your account?');


       // If the user confirms, send a request to delete the account
       if (userConfirmed) {
           fetch('/profile/delete', {
               method: 'DELETE',
               headers: {
                   'Content-Type': 'application/json',
               },
           })
           .then(response => response.json())
           .then(data => {
               if (data.success) {
                   // Redirect to the login page after successful deletion
                   window.location.href = '/login';
               } else {
                   // Handle deletion failure
                   console.error('Account deletion failed.');
               }
           })
           .catch(error => {
               console.error('Error:', error);
           });
       }


       // Prevent form submission
       return false;
   }
</script>




<%- include ('../partials/footer') %>
