<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://unpkg.com/jspdf-autotable@3.7.1/dist/jspdf.plugin.autotable.js"></script>

<main>
    

    <div class="col"><%- include ('../partials/message') %></div>
    <div class="container">
  
        <h4 class="display-4" style="margin-top:30px; margin-bottom:30px;">Create Expense Report</h4>
        <div class="shadow-sm p-3 mb-5 bg-white rounded" style="width:500px;">
            <div class="card-title" style="margin-left:15px;">
                <b class="display-6">Month</b>
            </div>
            <div class="card-body">
                <form action ="/report" method = "get">
                    <select class="form-select" type="month" name="month" class="form-group" id="monthInput" onchange="this.form.submit();">
                        <option value="-1">Select a month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </form>

            </div>
        </div>
       


        <% if(Expenses[0].length>0) {%>

      <div>
          
          <h3>Monthly report for <%- Expenses[2][0].monthstring%>:</h3>

        <table id="toprint" class="table" style="width:100%;padding:10px;">
            <thead>
                <tr>
                    <th>Expense</th>                
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <%Expenses[0].forEach(Expenses => { %>
                    <tr>
                        <td><%- Expenses.description %></td>
                        <%if(!Expenses.income){%>
                            <td><%-"-$".concat(Expenses.amount)%></td>

                         <%}else{%>
                            <td>$<%-Expenses.amount%></td>
                         <%}%>
                        <td><%- Expenses.date.toLocaleDateString() %></td>                      
                        <td><%- Expenses.category %></td>
                    </tr>
                    
                <% })%>
                
                <tr>
                    <th>Total spending:</th>
                    <td>$<%- Expenses[1][0].monthlytotalspendings.toFixed(2) %></td>
                </tr>  
                <tr>
                    <th>Total income:</th>
                    <td>$<%- Expenses[1][0].monthlytotalincome.toFixed(2) %></td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td style=<%=(Expenses[1][0].monthlytotalincome - Expenses[1][0].monthlytotalspendings)>=0 ? 'color:green' : 'color:red'%>>$<%- (Expenses[1][0].monthlytotalincome - Expenses[1][0].monthlytotalspendings).toFixed(2) %></td>
                </tr>
            </tbody>
        </table>
      </div>
      <script>
        window.jsPDF = window.jspdf.jsPDF;
        function printPDF() {
            console.log("break")
            var doc = new jsPDF();
            doc.text("Expense report for <%- Expenses[2][0].monthstring%>", 14,11,)
            doc.autoTable({
                html: '#toprint',
                theme: 'grid',
                
                headStyles: {
                fillColor: [20, 20, 86]
                    },
                 })
            doc.save('<%- Expenses[2][0].monthstring%> monthly spending report.pdf');
            
        };      
    
    </script>
      
      <button id="printpdfbutton" class="btn btn-primary" onclick="printPDF()">Download PDF</button>
        <%} else{ %>
          <h3 style="margin-top:30px;">No data available for this month!</h3>
        <%}%>
        

        </div>
    </div>
    
    


</main>


<%- include ('../partials/footer') %>